<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Riri's Space</title>
</head>
<body>
 <header>
            <h1><a href="/">Riri's Space Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Je comprends un peu de Francais. J'apprends le francais sur la app appelle DuoLingo. J'apprends le français depuis plus de 100 jours...</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Je peux compter. Une, deux, trois, quatre, cinq, six, sept, huit, neuf, dix...</p>
        </article>
</body>
</html>